// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.header-divider {
    width: 100%;
    height: 1cm;
    background: $divider-bg-fallback;
    background: $divider-bg;
}

.header-divider-image {
    width: 100%;
    height: 1cm;
    background-image: url($baseurl + "/assets/border.svg");
}

.quote-subtitle {
    @include relative-font-size(1.1);
    color: $brand-color-dark;
}

.magic {
    padding-left: $spacing-unit * .3;
    padding-right: $spacing-unit * .3;
    @include relative-font-size(1.1);
    color: $site-title-color;
    background: $site-title-bg;
    background-clip: text;
    -webkit-background-clip: text;
}
